@charset "UTF-8";


.carouselExampleControls {
    padding: 10px;
    margin-right: top;
}



h1, p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.d-block {
    margin: auto;
    border: 1px solid;
}

body {
    align-items: center;
    justify-content: center;
    min-height:100vh;
    margin: 0;
    background-color: rgb(207, 113, 113);
}
  
.heart {
    background: red;
    background-position-x: center;
    height: 100px;
    width:100px;
    /* Animation */
    transform: rotate(-45deg) scale(1);
    animation: pulse 2s linear infinite;
}
  
  
.heart::after {
    /* background:blue; */
    background:inherit;
    border-radius: 50%; /* To make circle */
    content:'';
    position:absolute;
    /* top: -100px;*/
    top: -50%; /* Inherit properties of parent */
    /* left: -100px; */
    left:0;
    height: 100px;
    width:100px;
}
.heart::before {
  /*  background:green; */
    background:inherit; 
    border-radius: 50%; /* To make circle */
    content:'';
    position:absolute;
    top:0; 
    right:-50%; /* Inherit properties of parent */
    height: 100px;
    width:100px;
}
  
@keyframes pulse{
    0% {
        transform: rotate(-45deg) scale(1);
        opacity: 0;
    }/*
    10% {
        transform: rotate(-45deg) scale(1.3);
    }
    20% {
        transform: rotate(-45deg) scale(0.9);
    }
    30% {
        transform: rotate(-45deg) scale(1.2);
    }
    40% {
        transform: rotate(-45deg) scale(0.9);
    }*/
    50% {
        transform: rotate(-45deg) scale(1.3);
        opacity: 1;
    }/*
    60% {
        transform: rotate(-45deg) scale(0.95);
    }
    70% {
        transform: rotate(-45deg) scale(1);
    } */
    100% {
        transform: rotate(-45deg) scale(1);
        opacity: 1;
    }
}

/*segunda parte*/

.heart2 {
    background: red;
    height: 100px;
    width:100px;
    /* Animation */
    transform: rotate(-45deg) scale(1);
    animation: pulse 2s linear infinite;
}
  
  
.heart2::after {
    /* background:blue; */
    background:inherit;
    border-radius: 50%; /* To make circle */
    content:'';
    position:absolute;
    /* top: -100px;*/
    top: -50%; /* Inherit properties of parent */
    /* left: -100px; */
    right: 10px;
    height: 100px;
    width:100px;
}
.heart2::before {
  /*  background:green; */
    background:inherit; 
    border-radius: 50%; /* To make circle */
    content:'';
    position: absolute;
    right: 20px; 
    right:-50%; /* Inherit properties of parent */
    height: 100px;
    width:100px;
}
  
@keyframes pulse{
    0% {
        transform: rotate(-45deg) scale(1);
        opacity: 0;
    }/*
    10% {
        transform: rotate(-45deg) scale(1.3);
    }
    20% {
        transform: rotate(-45deg) scale(0.9);
    }
    30% {
        transform: rotate(-45deg) scale(1.2);
    }
    40% {
        transform: rotate(-45deg) scale(0.9);
    }*/
    50% {
        transform: rotate(-45deg) scale(1.3);
        opacity: 1;
    }/*
    60% {
        transform: rotate(-45deg) scale(0.95);
    }
    70% {
        transform: rotate(-45deg) scale(1);
    } */
    100% {
        transform: rotate(-45deg) scale(1);
        opacity: 1;
    }
}